# Ignore node_modules in the HeartRateLimits subfolder
HeartRateLimits/node_modules/

# Ignore Expo files in the HeartRateLimits subfolder
HeartRateLimits/.expo/
HeartRateLimits/.expo-shared/

# Logs
HeartRateLimits/logs/
HeartRateLimits/*.log
HeartRateLimits/npm-debug.log*
HeartRateLimits/expo-debug.log*

# Yarn Integrity file
HeartRateLimits/.yarn-integrity

# Optional npm cache directory
HeartRateLimits/.npm/

# Optional dotenv environment variable file
HeartRateLimits/.env

# MacOS files
HeartRateLimits/.DS_Store

# Android & iOS build artifacts
HeartRateLimits/*.apk
HeartRateLimits/*.apkg
HeartRateLimits/*.aar
HeartRateLimits/*.ipa
HeartRateLimits/.DS_Store

# Build directory
HeartRateLimits/build/